/* Typography */
.h1 {
    font-size: 2.25rem;
    font-weight: 800;
    letter-spacing: -0.025em;
}

.h2 {
    font-size: 1.875rem;
    font-weight: 800;
    letter-spacing: -0.025em;
}

.h3 {
    font-size: 1.875rem;
    font-weight: 800;
}

.h4 {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.025em;
}

@media (min-width: 768px) {
    .h1 {
        font-size: 3rem;
    }

    .h2 {
        font-size: 2.25rem;
    }
}

/* Buttons */
.btn,
.btn-lg,
.btn-sm,
.btn-xs {
    font-weight: 500;
    font-size: 0.875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    line-height: 1.25rem;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.05), 0 1px 2px 0 rgb(0 0 0 / 0.02);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.btn {
    padding: 0.5rem 0.75rem;
}

.btn-lg {
    padding: 0.75rem 1rem;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
}

.btn-xs {
    padding: 0.125rem 0.5rem;
}

/* Forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    background-color: white;
    border: 1px solid;
}

.form-input:focus,
.form-textarea:focus,
.form-multiselect:focus,
.form-select:focus,
.form-checkbox:focus,
.form-radio:focus {
    --tw-ring-shadow: 0 0 0 0;
    --tw-ring-offset-shadow: 0 0 0 0;
}

.form-checkbox {
    border-radius: 0.125rem;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    font-size: 0.875rem;
    color: #1f2937;
    line-height: 1.25rem;
    padding: 0.5rem 0.75rem;
    border-color: #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.05), 0 1px 2px 0 rgb(0 0 0 / 0.02);
}

.form-input:hover,
.form-textarea:hover,
.form-multiselect:hover,
.form-select:hover {
    border-color: #bfc4cd;
}

.form-input:focus,
.form-textarea:focus,
.form-multiselect:focus,
.form-select:focus {
    border-color: #bfc4cd;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: #9ca3af;
}

.form-select {
    padding-right: 2.5rem;
}

.form-checkbox,
.form-radio {
    color: #f4b400;
    border: 1px solid #bfc4cd;
}

.form-checkbox:checked,
.form-radio:checked {
    background-color: #f4b400;
    border-color: transparent;
}

/* Switch element */
.form-switch {
    position: relative;
    user-select: none;
    width: 44px;
}

.form-switch label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 1.5rem;
    border-radius: 9999px;
}

.form-switch label > span:first-child {
    position: absolute;
    display: block;
    border-radius: 9999px;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    right: 50%;
    transition: all .15s ease-out;
}

.form-switch input[type="checkbox"] + label {
  background-color: #9ca3af;
}

.form-switch input[type="checkbox"]:checked + label {
  background-color: #f4b400;
}

.form-switch input[type="checkbox"]:checked + label > span:first-child {
    left: 22px;
}

.form-switch input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
}

.form-switch input[type="checkbox"]:disabled + label > span:first-child {
    background-color: #9ca3af;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}